

<form action="https://api.telegram.org/bot123067358:AAEUmuO2NOrubY-_BbjhaJ4u0QDFeTVaPqA/setWebhook" id="ContactForm" method="post">
    <input name="url" type="text" value="https://shob.shobefroosh.ir/api/Product/post" />
    <input name="certificate" type="file" />
    <input value="set webhook" type="submit" />
</form>
StateBot
<form action="/api/khandoonehfgg324dfsfgfglaSSr2234asvcdsg/post" id="postTest" method="post">
    <textarea id="update" style="width:100%;height:70px;"> </textarea>
    <input value="send" id="sendJson" type="submit" />
</form><br />
<a href="/home/StateBot">نمایش وضیعت روبات خندوانه</a><br />
<form action="/home/TagglePath" id="TagglePath" method="post">
    <input name="command" type="text" value="0"/>
    <input value="تغییر مسیر" type="submit" />
</form><br />
<form action="/home/test" id="testForm" method="post">
    <input name="text" type="text" value="" />
    <input value=" test action" type="submit" />
</form><br />

<script>
    $(document).ready(function () {
        //$('#sendJson').click(function (e) {
        //    e.preventDefault();
        //    var data = $('#update').val();
        //    //$('#personForm').serialize();

        //    $.ajax({
        //        url: '/api/Product/post',
        //        data: data,
        //        //dataType:'json',
        //        type: 'POST',
        //        //  async:false,
        //        success: function (data) {
        //            alert("success");
        //        },
        //        error: function (data) { // if error occured
        //            alert("error");
        //        }
        //    });
        //});
    });
</script>