
@{
    ViewBag.Title = "StateBot";
}
<h4>تعداد سیشن ها</h4><span>@ViewData["commandStateList"]</span> <
<h4>مسیر لاگ فایل</h4><span>@ViewData["Setting_logFileName"] </span>
<h4>فالس یعنی در حال برود کست</h4><span>@ViewData["GetFlagDecide"]  </span>

